.vs/TWICDBAggregator/v16/.suo
TWICDBAggregator/TWICDBAggregator_TemporaryKey.pfx
TWICDBAggregator/TWICDBAggregator.csproj
TWICDBAggregator/TWICDBAggregator.csproj.user
TWICDBAggregator/bin/Debug/Ionic.Zip.dll
TWICDBAggregator/bin/Debug/TWICDBAggregator.exe
TWICDBAggregator/bin/Debug/TWICDBAggregator.exe.config
TWICDBAggregator/bin/Debug/TWICDBAggregator.pdb
TWICDBAggregator/bin/Release/Ionic.Zip.dll
TWICDBAggregator/bin/Release/TWICDBAggregator.application
TWICDBAggregator/bin/Release/TWICDBAggregator.exe
TWICDBAggregator/bin/Release/TWICDBAggregator.exe.config
TWICDBAggregator/bin/Release/TWICDBAggregator.exe.manifest
TWICDBAggregator/bin/Release/TWICDBAggregator.pdb
TWICDBAggregator/bin/Release/app.publish/setup.exe
TWICDBAggregator/bin/Release/app.publish/TWICDBAggregator.application
TWICDBAggregator/bin/Release/app.publish/TWICDBAggregator.exe
TWICDBAggregator/bin/Release/app.publish/Application Files/TWICDBAggregator_1_0_0_0/Ionic.Zip.dll.deploy
TWICDBAggregator/bin/Release/app.publish/Application Files/TWICDBAggregator_1_0_0_0/TWICDBAggregator.exe.config.deploy
TWICDBAggregator/bin/Release/app.publish/Application Files/TWICDBAggregator_1_0_0_0/TWICDBAggregator.exe.deploy
TWICDBAggregator/bin/Release/app.publish/Application Files/TWICDBAggregator_1_0_0_0/TWICDBAggregator.exe.manifest
TWICDBAggregator/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
TWICDBAggregator/obj/x86/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
TWICDBAggregator/obj/x86/Debug/App.g.cs
TWICDBAggregator/obj/x86/Debug/App.g.i.cs
TWICDBAggregator/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
TWICDBAggregator/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TWICDBAggregator/obj/x86/Debug/MainWindow.g.cs
TWICDBAggregator/obj/x86/Debug/MainWindow.g.i.cs
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator_MarkupCompile.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator_MarkupCompile.i.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.AssemblyReference.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.CopyComplete
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.CoreCompileInputs.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.FileListAbsolute.txt
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.GenerateResource.Cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.exe
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.pdb
TWICDBAggregator/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
TWICDBAggregator/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
TWICDBAggregator/obj/x86/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
TWICDBAggregator/obj/x86/Release/App.g.cs
TWICDBAggregator/obj/x86/Release/App.g.i.cs
TWICDBAggregator/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
TWICDBAggregator/obj/x86/Release/MainWindow.g.cs
TWICDBAggregator/obj/x86/Release/MainWindow.g.i.cs
TWICDBAggregator/obj/x86/Release/TWICDBAggregator_MarkupCompile.cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.application
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.AssemblyReference.cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.CopyComplete
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.CoreCompileInputs.cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.FileListAbsolute.txt
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.GenerateResource.Cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.exe
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.exe.manifest
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.pdb
TWICDBAggregator/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
.vs/TWICDBAggregator/v16/.suo
TWICDBAggregator/TWICDBAggregator.csproj
TWICDBAggregator/obj/x86/Debug/App.g.cs
TWICDBAggregator/obj/x86/Debug/App.g.i.cs
TWICDBAggregator/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
TWICDBAggregator/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TWICDBAggregator/obj/x86/Debug/MainWindow.baml
TWICDBAggregator/obj/x86/Debug/MainWindow.g.cs
TWICDBAggregator/obj/x86/Debug/MainWindow.g.i.cs
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator_MarkupCompile.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator_MarkupCompile.i.cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.FileListAbsolute.txt
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.csproj.GenerateResource.Cache
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.exe
TWICDBAggregator/obj/x86/Debug/TWICDBAggregator.pdb
TWICDBAggregator/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
TWICDBAggregator/obj/x86/Release/App.g.cs
TWICDBAggregator/obj/x86/Release/App.g.i.cs
TWICDBAggregator/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
TWICDBAggregator/obj/x86/Release/MainWindow.g.cs
TWICDBAggregator/obj/x86/Release/MainWindow.g.i.cs
TWICDBAggregator/obj/x86/Release/TWICDBAggregator_MarkupCompile.cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.FileListAbsolute.txt
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.csproj.GenerateResource.Cache
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.exe
TWICDBAggregator/obj/x86/Release/TWICDBAggregator.pdb
TWICDBAggregator/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
